/**** === GLOBAL STYLES ==== ***/

* {
    box-sizing: border-box;
}

:root {
    --primary-color: #333;
    --secondary-color: #444;
    --overlay-color: rgba(0,0,0,0.7);
}

body {
    font-family: 'Catamaran', sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 1.1rem;

}

h1,h2,h3. h4 {
    line-height: 1.3;
}


a {
    color: var(--secondary-color);
    text-decoration: none;
}

img {
    width: 100%;
}

.cotainer {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

/**** === SECTION STYLES ==== ***/

/** NAV SECTION **/


.flex_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 3em;
    margin-right: 3em;
}

.phono_nav_logo {
    margin-right: auto;
}

.nav_menu li {
    list-style: none;
    display: inline-block;
    font-size: 1.2em;
    padding-top: .5em;
    margin-left: 1em;

}

/** HEADER SECTION **/

.white_headphone_section {
    background-image: url(../../images/pexels-sound-on-3394650.jpg);
    background-position: right;
    background-repeat: no-repeat;
    padding: 20em;
}

.white_headphone_text_section {
    position: relative; 
    right: 16.5em;
    bottom: 10em;
}


/** SECTION TWO **/

.section_two {
    background-image: url(../../images/overlay_image.png);
    padding: 20em;
    padding-bottom: 0;
    background-repeat: no-repeat;
    
}

.section_two_text > h3 {
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
}

.section_two_text h2 {
    font-size: 5rem;
    color: #FFFFFF;
    text-align: center;
}


/** FOOTER **/

.footer_section {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: row;
   
}

.footer_section > * {
    flex-basis: 100%;
}

.footer_section ul {
    padding-left: 0;
}

.col_2, .col_3, .col_4 {
    margin-top: 1em;

}

.col_1 > h2 {
    font-size: 2rem;
    margin-left: 3em;
}

.col_2 > h3, li {
    font-size: 1.17em;
    list-style: none;

}


.col_2 ul {
    padding: none;
}

