/**** === GLOBAL STYLES ==== ***/

* {
    box-sizing: border-box;
}

/**** === SECTION STYLES ==== ***/

.flex_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.phono_nav_logo {
    margin-right: auto;
}

.nav_menu li {
    list-style: none;
    display: inline-block;
}